<div class="container">
  <!-- MOBILE VIEW -->

  <div class="mobile-view">
    <div
      *ngFor="let user of currentList"
      #card
      (click)="openContent($event)"
      class="card"
    >
      <header class="card-header">
        <div class="date">
          <p>
            <b
              >01.12.2023 г.<br />
              12:45:00 ч.</b
            >
          </p>
        </div>
        <div class="type-doc">
          <h3>Фактура</h3>
        </div>
        <div class="number-doc">
          <p><b>№2300004558</b></p>
        </div>
      </header>
      <main class="card-main">
        <div class="payment-method">
          <div class="payment-method-row">
            <label><i>Начин на плащане</i></label>
            <p><b>Брой</b></p>
          </div>
          <div class="sum-doc-dds">
            <label><i>Сума на докимента /ДДС/</i></label>
            <p><b>1010,98 лв.</b></p>
          </div>
        </div>
        <div class="receiver">
          <div class="receiver-row">
            <p><i>Контрагент</i></p>
          </div>
          <div class="balance">
            <div class="old-balance">
              <label><i>Старо салдо</i></label>
              <p><b>0,00 лв.</b></p>
            </div>
            <div class="new-balance">
              <label><i>Ново сладо</i></label>
              <p><b>1110,00 лв.</b></p>
            </div>
          </div>
          <div class="receiver-name">
            <p><b>Съни Дайнинг 3 ЕООД</b></p>
          </div>
        </div>
        <div class="case">
          <div class="case-name">
            <p>Каса</p>
          </div>
          <div class="case-balance">
            <p><i>Приход:</i> <b> 100,00 лв.</b></p>
            <p><i>Разход:</i> <b> 0.00 лв.</b></p>
          </div>
        </div>
        <div class="non-cash-payment">
          <div class="non-cash-payment-name">
            <p>Безналично плащане</p>
          </div>
          <div class="non-cash-payment-method">
            <div class="non-cash-payment-method-name">
              <p><i>Карта</i></p>
            </div>
            <div class="non-cash-payment-sum">
              <p><b>100,00 лв.</b></p>
            </div>
          </div>
        </div>
      </main>
      <footer class="card-footer">
        <div class="name-employer">
          <label><i>Касиер</i></label>
          <p>Венелин Колев</p>
        </div>
        <div class="name-operator">
          <label><i>Оператор</i></label>
          <p>Венелин Колев</p>
        </div>
      </footer>
      <div (click)="$event.stopPropagation()" class="content-mobile-none">
        <div class="header-content">
          <h4>Съдържание</h4>
          <svg
            (click)="closeContent($event); $event.stopPropagation()"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"
          >
            <path
              d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
            />
          </svg>
        </div>
        <table>
          <thead>
            <tr>
              <th>Име на стоката</th>
              <th>К-во</th>
              <th>Цена</th>
              <th>Сума</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- DESKTOP VIEW -->

  <div class="desktop-view">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 main-table"
    >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef rowspan="2">№</th>
        <td mat-cell *matCellDef="let document">1</td>
      </ng-container>

      <ng-container matColumnDef="dateOfSave">
        <th mat-header-cell *matHeaderCellDef rowspan="2">Дата на запис</th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>

      <ng-container matColumnDef="numberOfDocument">
        <th mat-header-cell *matHeaderCellDef rowspan="2">№ на документ</th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>

      <ng-container matColumnDef="documentType">
        <th mat-header-cell *matHeaderCellDef rowspan="2">Тип на документа</th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>

      <ng-container matColumnDef="sumDocument">
        <th mat-header-cell *matHeaderCellDef rowspan="2">
          Суми към документ/с ДДС/
        </th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>

      <ng-container matColumnDef="case">
        <th mat-header-cell *matHeaderCellDef colspan="2">Каса</th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>

      <ng-container matColumnDef="caseOwner">
        <th mat-header-cell *matHeaderCellDef rowspan="2">Касиер</th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>

      <ng-container matColumnDef="nonCashPayment">
        <th mat-header-cell *matHeaderCellDef rowspan="2">
          Безналично плащане
        </th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>

      <ng-container matColumnDef="paymentMethod">
        <th mat-header-cell *matHeaderCellDef rowspan="2">Начин на плащане</th>
        <td mat-cell *matCollmnDef="let document"></td>
      </ng-container>

      <ng-container matColumnDef="receiver">
        <th mat-header-cell *matHeaderCellDef colspan="3">Контрагент</th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>

      <ng-container matColumnDef="nameOperator">
        <th mat-header-cell *matHeaderCellDef rowspan="2">Оператор</th>
        <td mat-cell *matCellmnDef="let document"></td>
      </ng-container>

      <ng-container matColumnDef="checked">
        <th mat-header-cell *matHeaderCellDef rowspan="2">Проверил</th>
        <td mat-cell *matCellumnDef="let document"></td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef rowspan="2">Забележка</th>
        <td mat-cell *matCellumnDef="let document"></td>
      </ng-container>

      <!--  <th>Приход</th>
            <th>Разход</th>
            <th>Име</th>
            <th>Старо салдо</th>
            <th>Ново салдо</th> -->

      <ng-container matColumnDef="profit">
        <th mat-header-cell *matHeaderCellDef>Приход</th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>
      <ng-container matColumnDef="expenditure">
        <th mat-header-cell *matHeaderCellDef>Разход</th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>
      <ng-container matColumnDef="nameReceiver">
        <th mat-header-cell *matHeaderCellDef>Име</th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>
      <ng-container matColumnDef="oldBalance">
        <th mat-header-cell *matHeaderCellDef>Старо салдо</th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>
      <ng-container matColumnDef="newBalance">
        <th mat-header-cell *matHeaderCellDef>Ново салдо</th>
        <td mat-cell *matCellDef="let document"></td>
      </ng-container>

      <tr
        class="table-header"
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        class="table-header"
        mat-header-row
        *matHeaderRowDef="[
          'profit',
          'expenditure',
          'nameReceiver',
          'oldBalance',
          'newBalance'
        ]"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr></tr>
    </table>
  </div>
</div>
