<div class="container">
  <!-- MOBILE VIEW -->

  <div class="mobile-view">
    <div class="card">
      <header class="card-header">
        <div id="date">
          <p>
            <b
              >01.12.2023 г.<br />
              12:45:00 ч.</b
            >
          </p>
        </div>
        <div id="type-doc">
          <h3>Фактура</h3>
        </div>
        <div id="number-doc">
          <p><b>№2300004558</b></p>
        </div>
      </header>
      <main class="card-main">
        <div class="payment-method">
          <div id="payment-method">
            <label><i>Начин на плащане</i></label>
            <p><b>Брой</b></p>
          </div>
          <div id="sum-doc-dds">
            <label><i>Сума на докимента /ДДС/</i></label>
            <p><b>1010,98 лв.</b></p>
          </div>
        </div>
        <div class="receiver">
          <div id="receiver">
            <p><i>Контрагент</i></p>
          </div>
          <div class="balance">
            <div id="old-balance">
              <label><i>Старо салдо</i></label>
              <p><b>0,00 лв.</b></p>
            </div>
            <div id="new-balance">
              <label><i>Ново сладо</i></label>
              <p><b>1110,00 лв.</b></p>
            </div>
          </div>
          <div id="receiver-name">
            <p><b>Съни Дайнинг 3 ЕООД</b></p>
          </div>
        </div>
        <div class="case">
          <div id="case-name">
            <p>Каса</p>
          </div>
          <div id="case-balance">
            <p><i>Приход:</i> <b> 100,00 лв.</b></p>
            <p><i>Разход:</i> <b> 0.00 лв.</b></p>
          </div>
        </div>
        <div class="non-cash-payment">
          <div id="non-cash-payment-name">
            <p>Безналично плащане</p>
          </div>
          <div class="non-cash-payment-method">
            <div id="non-cash-payment-method-name">
              <p><i>Карта</i></p>
            </div>
            <div id="non-cash-payment-sum">
              <p><b>100,00 лв.</b></p>
            </div>
          </div>
        </div>
      </main>
      <footer class="card-footer">
        <div id="name-employer">
          <label><i>Касиер</i></label>
          <p>Венелин Колев</p>
        </div>
        <div id="name-operator">
          <label><i>Оператор</i></label>
          <p>Венелин Колев</p>
        </div>
      </footer>
    </div>
  </div>

  <!-- DESKTOP VIEW -->

  <div class="desktop-view">DESKTOP</div>
</div>
