.container {
  padding: 0.5em;
}

/* .mobile-view {
  display: flex;
  flex-direction: column;
  gap: 1em;
} */

/* Card container */

.card {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  width: 100%;
  height: auto;

  background-color: rgb(240, 240, 240);
  border: 0.2em solid white;
  border-radius: 0.6em;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.4);
  padding: 0.7em;
  position: relative;
}

/* Header container */

.card-header {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  /* background-color: aquamarine; */
  border-bottom: 1px solid black;
  align-items: flex-end;
}

.date p {
  font-size: 0.9em;
  color: rgb(90, 90, 90);
}

.number-doc {
  color: rgb(90, 90, 90);
}

.type-doc {
  padding: 0 0.5em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-top: 1px solid rgb(160, 159, 159);
  border-left: 1px solid rgb(160, 159, 159);
  border-right: 1px solid rgb(160, 159, 159);
  background-color: rgb(220, 220, 220);
}

/* Main container */

.card-main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 0 0.5em; */
}

/* Payment Mehtod */

.payment-method {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid gray; */
  padding: 0.4em 0.5em;
}

.sum-doc-dds {
  text-align: end;
}

/* Receiver */

.receiver {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  padding: 0.4em 0.5em;
  background-color: rgb(220, 220, 220);
}

.balance {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.old-balance,
.new-balance {
  text-align: center;
  line-height: 1.4em;
}

.receiver-name {
  width: 120px;
  text-align: end;
}

/* Case */

.case {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  padding: 0.4em 0.5em;
}

.case-balance {
  text-align: end;
}

/* Non Cash Payment */

.non-cash-payment {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 0.5em;
  border-top: 1px solid gray;
  background-color: rgb(220, 220, 220);
}

.non-cash-payment-method {
  text-align: end;
}

/* Footer container */

.card-footer {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  color: rgb(90, 90, 90);
  font-weight: bold;
  /* background-color: aqua; */
  border-top: 1px solid black;
}

.card-footer label {
  font-size: 0.9em;
}

.name-operator {
  text-align: end;
}

/* CONTENT MOBILE */

.content-mobile-none {
  display: none;
}

.content-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 330px;
  height: 230px;
  overflow: scroll;
  padding: 0 0.5em 0.5em 0.5em;
  background-color: white;
  justify-content: flex-start;
  border-radius: 0.5em;
  border: 2px solid rgb(240, 240, 240);
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.4);
}

.content-mobile table {
  flex: 1 1 auto;
  border-collapse: collapse;
  border-style: hidden;
}

.content-mobile table > thead {
  background-color: rgb(200, 200, 200);
}

.content-mobile table > tbody tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

.content-table th {
  padding: 0.4em;
}

.content-table tbody td {
  padding: 0.3em;
}

.header-content {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding-top: 0.5em;
  background-color: white;
  border-bottom: 1px solid gray;
  margin-bottom: 0.3em;
}

.header-content h4 {
  font-style: italic;
}

svg {
  fill: black;
  width: 1.2em;
  height: auto;
}

/* svg:hover {
  cursor: pointer;
  fill: orange;
} */

/* DESKTOP VIEW */

/* .desktop-view {
  height: 75vh;
  overflow: scroll;
} */

.main-table {
  padding: 0.3em;
  border-radius: 0.5em;
  border: 2px solid #999;
  width: 100%;
  background: #fff;
  overflow: hidden;
}
.main-table th {
  background-color: #999;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  padding: 0.6em;
}

.main-table tr:nth-child(even) {
  background-color: rgb(220, 220, 220);
}

.main-table tr {
  height: 30px;
}

.table-header {
  height: auto;
}
