.container {
  padding: 0.5em;
}

/* .mobile-view {
  display: flex;
  flex-direction: column;
  gap: 1em;
} */

/* Card container */

.card {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  width: 100%;
  height: auto;

  background-color: rgb(240, 240, 240);
  border: 0.2em solid white;
  border-radius: 0.6em;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.4);
  padding: 0.7em;
  position: relative;
}

/* Header container */

.card-header {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  /* background-color: aquamarine; */
  border-bottom: 1px solid black;
  align-items: flex-end;
}

.date p {
  font-size: 0.9em;
  color: rgb(90, 90, 90);
}

.number-doc {
  color: rgb(90, 90, 90);
}

.type-doc {
  padding: 0 0.5em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  border-top: 1px solid rgb(160, 159, 159);
  border-left: 1px solid rgb(160, 159, 159);
  border-right: 1px solid rgb(160, 159, 159);
  background-color: rgb(220, 220, 220);
}

/* Main container */

.card-main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 0 0.5em; */
}

/* Payment Mehtod */

.payment-method {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid gray; */
  padding: 0.4em 0.5em;
}

.sum-doc-dds {
  text-align: end;
}

/* Receiver */

.receiver {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  padding: 0.4em 0.5em;
  background-color: rgb(220, 220, 220);
}

.balance {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.old-balance,
.new-balance {
  text-align: center;
  line-height: 1.4em;
}

.receiver-name {
  width: 120px;
  text-align: end;
}

/* Case */

.case {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
  padding: 0.4em 0.5em;
}

.case-balance {
  text-align: end;
}

/* Non Cash Payment */

.non-cash-payment {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 0.5em;
  border-top: 1px solid gray;
  background-color: rgb(220, 220, 220);
}

.non-cash-payment-method {
  text-align: end;
}

/* Footer container */

.card-footer {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  color: rgb(90, 90, 90);
  font-weight: bold;
  /* background-color: aqua; */
  border-top: 1px solid black;
}

.card-footer label {
  font-size: 0.9em;
}

.name-operator {
  text-align: end;
}

/* CONTENT MOBILE */

.content-mobile-none {
  display: none;
}

.content-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 330px;
  height: auto;
  padding: 0.5em;
  background-color: white;
  justify-content: center;
  border-radius: 0.5em;
  border: 2px solid rgb(240, 240, 240);
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.4);
}

.redClass {
  background-color: red;
}

.content-mobile table {
  flex: 1 1 100%;
  border-collapse: collapse;
  border-style: hidden;
}

.content-mobile table > thead {
  background-color: rgb(200, 200, 200);
}

.content-mobile table > tbody tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

.hidden-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 0.3em;
}

.hidden-content h4 {
  font-style: italic;
}

svg {
  fill: black;
  width: 1.2em;
  height: auto;
}

svg:hover {
  cursor: pointer;
  fill: orange;
}

/* DESKTOP VIEW */

.table {
  display: flex;
  border-radius: 0.5em;
  /* border: 2px solid white; */
  padding: 0.4em;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.table table {
  flex: 1 1 auto;
  border-collapse: collapse;
  position: relative;
}

.table > table::after {
  display: none;
  background-color: rgba(220, 220, 220, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.table table thead {
  background-color: rgb(190, 190, 190);
  border-bottom: 2px solid gray;
}

/* .table table thead th {
  white-space: pre-wrap;
} */

th,
td {
  border: 1px solid rgb(129, 129, 129);
  padding: 0.4em;
  max-width: 130px;
  overflow: hidden;
}

.table table tbody tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

.main-table tbody > tr:hover {
  background-color: rgba(255, 166, 0, 0.884);
}

.main-table > tbody a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.main-table tbody td:target + div {
  display: flex;
}
.main-table tbody td:target {
  display: none;
}

.main-table tbody > tr {
  position: relative;
}

.table table td {
  border-style: none solid;
}

.table table tbody {
  text-align: center;
}

.table table tr:last-child {
  border-bottom: 2px solid gray;
}

.close-content {
  flex: 1 1 auto;
  margin-left: 0.5em;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

div:target {
  display: none;
}

.content {
  display: none;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  background-color: rgb(220, 220, 220);
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  z-index: 99;
  transition: all 2s ease-in-out;
}
