<div class="container">
  <!-- MOBILE VIEW -->

  <div class="mobile-view">
    <div
      *ngFor="let user of currentList"
      #card
      (click)="openContent($event)"
      class="card"
    >
      <header class="card-header">
        <div class="date">
          <p>
            <b
              >01.12.2023 г.<br />
              12:45:00 ч.</b
            >
          </p>
        </div>
        <div class="type-doc">
          <h3>Фактура</h3>
        </div>
        <div class="number-doc">
          <p><b>№2300004558</b></p>
        </div>
      </header>
      <main class="card-main">
        <div class="payment-method">
          <div class="payment-method-row">
            <label><i>Начин на плащане</i></label>
            <p><b>Брой</b></p>
          </div>
          <div class="sum-doc-dds">
            <label><i>Сума на докимента /ДДС/</i></label>
            <p><b>1010,98 лв.</b></p>
          </div>
        </div>
        <div class="receiver">
          <div class="receiver-row">
            <p><i>Контрагент</i></p>
          </div>
          <div class="balance">
            <div class="old-balance">
              <label><i>Старо салдо</i></label>
              <p><b>0,00 лв.</b></p>
            </div>
            <div class="new-balance">
              <label><i>Ново сладо</i></label>
              <p><b>1110,00 лв.</b></p>
            </div>
          </div>
          <div class="receiver-name">
            <p><b>Съни Дайнинг 3 ЕООД</b></p>
          </div>
        </div>
        <div class="case">
          <div class="case-name">
            <p>Каса</p>
          </div>
          <div class="case-balance">
            <p><i>Приход:</i> <b> 100,00 лв.</b></p>
            <p><i>Разход:</i> <b> 0.00 лв.</b></p>
          </div>
        </div>
        <div class="non-cash-payment">
          <div class="non-cash-payment-name">
            <p>Безналично плащане</p>
          </div>
          <div class="non-cash-payment-method">
            <div class="non-cash-payment-method-name">
              <p><i>Карта</i></p>
            </div>
            <div class="non-cash-payment-sum">
              <p><b>100,00 лв.</b></p>
            </div>
          </div>
        </div>
      </main>
      <footer class="card-footer">
        <div class="name-employer">
          <label><i>Касиер</i></label>
          <p>Венелин Колев</p>
        </div>
        <div class="name-operator">
          <label><i>Оператор</i></label>
          <p>Венелин Колев</p>
        </div>
      </footer>
      <div (click)="$event.stopPropagation()" class="content-mobile-none">
        <div class="header-content">
          <h4>Съдържание</h4>
          <svg
            (click)="closeContent($event); $event.stopPropagation()"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"
          >
            <path
              d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
            />
          </svg>
        </div>
        <table>
          <thead>
            <tr>
              <th>Име на стоката</th>
              <th>К-во</th>
              <th>Цена</th>
              <th>Сума</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
            <tr>
              <td>
                {{ user.address.city }}
              </td>
              <td>
                {{ user.address.zipcode }}
              </td>
              <td>
                {{ user.address.street }}
              </td>
              <td>
                {{ user.address.suite }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- DESKTOP VIEW -->

  <div class="desktop-view">
    <div class="table">
      <table class="main-table">
        <thead>
          <tr>
            <th rowspan="2">Съдържание</th>
            <th rowspan="2">Дата на запис</th>
            <th rowspan="2">№ на документ</th>
            <th rowspan="2">Тип на документ</th>
            <th rowspan="2">Суми към документ/с ДДС/</th>
            <th colspan="2">Каса</th>
            <th rowspan="2">Касиер</th>
            <th rowspan="2">Безналично плащане</th>
            <th rowspan="2">Начин на плащане</th>
            <th colspan="3">Контрагент</th>
            <th rowspan="2">Оператор</th>
            <th rowspan="2">Проверил</th>
            <th rowspan="2">Забележка</th>
          </tr>
          <tr>
            <th>Приход</th>
            <th>Разход</th>
            <th>Име</th>
            <th>Старо салдо</th>
            <th>Ново салдо</th>
          </tr>
        </thead>
        <tbody class="main-table-body">
          <!-- <tr>
            <td id="1"><a href="#1">+</a></td>
            <div id="2300004544" class="content">
              <div class="close-content">
                <p><a href="#2300004544">-</a></p>
              </div>
              <div class="table-content">
                <table>
                  <thead>
                    <tr>
                      <th>Име на стоката</th>
                      <th>К-во</th>
                      <th>Цена</th>
                      <th>Сума</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Компютър</td>
                      <td>1</td>
                      <td>850 лв.</td>
                      <td>850 лв.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <td>01.12.2023г. 15:44ч.</td>
            <td>2300004544</td>
            <td>Фактура</td>
            <td>1001,00 лв.</td>
            <td>0,00 лв.</td>
            <td>1001,00 лв.</td>
            <td>Венелин Колев</td>
            <td>0,00 лв.</td>
            <td>Брой</td>
            <td>Съни Дайнинг 3 ЕООД</td>
            <td>0,00 лв.</td>
            <td>0,00 лв.</td>
            <td>Венелин Колев</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td id="2"><a href="#2">+</a></td>
            <div id="2300004545" class="content">
              <div class="close-content">
                <p><a href="#2300004545">-</a></p>
              </div>
              <div class="table-content">
                <table>
                  <thead>
                    <tr>
                      <th>Име на стоката</th>
                      <th>К-во</th>
                      <th>Цена</th>
                      <th>Сума</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Компютър</td>
                      <td>1</td>
                      <td>850 лв.</td>
                      <td>850 лв.</td>
                    </tr>
                    <tr>
                      <td>Монитор 15'</td>
                      <td>2</td>
                      <td>450 лв.</td>
                      <td>900 лв.</td>
                    </tr>
                    <tr>
                      <td>Компютър</td>
                      <td>1</td>
                      <td>850 лв.</td>
                      <td>850 лв.</td>
                    </tr>
                    <tr>
                      <td>Монитор 15'</td>
                      <td>2</td>
                      <td>450 лв.</td>
                      <td>900 лв.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <td>01.12.2023г. 15:44ч.</td>
            <td>2300004545</td>
            <td>Фактура</td>
            <td>1001,00 лв.</td>
            <td>0,00 лв.</td>
            <td>1001,00 лв.</td>
            <td>Венелин Колев</td>
            <td>0,00 лв.</td>
            <td>Брой</td>
            <td>Съни Дайнинг 3 ЕООД</td>
            <td>0,00 лв.</td>
            <td>0,00 лв.</td>
            <td>Венелин Колев</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td id="3"><a href="#3">+</a></td>
            <div id="2300004546" class="content">
              <div class="close-content">
                <p><a href="#2300004546">-</a></p>
              </div>
              <div class="table-content">
                <table>
                  <thead>
                    <tr>
                      <th>Име на стоката</th>
                      <th>К-во</th>
                      <th>Цена</th>
                      <th>Сума</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Компютър</td>
                      <td>1</td>
                      <td>850 лв.</td>
                      <td>850 лв.</td>
                    </tr>
                    <tr>
                      <td>Монитор 15'</td>
                      <td>2</td>
                      <td>450 лв.</td>
                      <td>900 лв.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <td>01.12.2023г. 15:44ч.</td>
            <td>2300004546</td>
            <td>Фактура</td>
            <td>1001,00 лв.</td>
            <td>0,00 лв.</td>
            <td>1001,00 лв.</td>
            <td>Венелин Колев</td>
            <td>0,00 лв.</td>
            <td>Брой</td>
            <td>Съни Дайнинг 3 ЕООД</td>
            <td>0,00 лв.</td>
            <td>0,00 лв.</td>
            <td>Венелин Колев</td>
            <td></td>
            <td></td>
          </tr> -->

          <tr *ngFor="let user of currentList">
            <td [id]="user.id"><a [href]="'#' + user.id">+</a></td>
            <div [id]="user.address.geo.lng" class="content">
              <div class="close-content">
                <p><a [href]="'#' + user.address.geo.lng">-</a></p>
              </div>
              <div class="table-content">
                <table>
                  <thead>
                    <tr>
                      <th>Име на стоката</th>
                      <th>К-во</th>
                      <th>Цена</th>
                      <th>Сума</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ user.address.city }}</td>
                      <td>{{ user.address.zipcode }}</td>
                      <td>{{ user.address.street }}</td>
                      <td>{{ user.address.suite }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <td>{{ user.phone }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.website }}</td>
            <td>0,00 лв.</td>
            <td>{{ user.website }}</td>
            <td>{{ user.name }}</td>
            <td>0,00 лв.</td>
            <td>Брой</td>
            <td>{{ user.email }}</td>
            <td>0,00 лв.</td>
            <td>0,00 лв.</td>
            <td>{{ user.name }}</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>
