.container {
  padding: 0.5em;
}

@media (width < 600px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

@media (width >= 1024px) {
  .desktop-view {
    display: block;
  }

  .mobile-view {
    display: none;
  }
}
