<div class="documentContent">
  <div class="table-wrapper">
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      class="mat-elevation-z8 document-content-table"
    >
      <ng-container matColumnDef="position">
        <th mat-sort-header mat-header-cell *matHeaderCellDef rowspan="2">№</th>
        <td mat-cell *matCellDef="let document">{{ document.position }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="barcode">
        <th mat-sort-header mat-header-cell *matHeaderCellDef rowspan="2">
          Баркод
        </th>
        <td mat-cell *matCellDef="let document">{{ document.barcode }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="nameItems">
        <th
          mat-sort-header
          mat-header-cell
          *matHeaderCellDef
          rowspan="2"
          class="nameItems"
        >
          Име на стоката
        </th>
        <td mat-cell *matCellDef="let document">{{ document.nameItems }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-sort-header mat-header-cell *matHeaderCellDef colspan="2">
          К-во
        </th>
        <td mat-cell *matCellDef="let document">{{ document.quantity }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-sort-header mat-header-cell *matHeaderCellDef colspan="1">
          Цена
        </th>
        <td mat-cell *matCellDef="let document">{{ document.price }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="sum">
        <th mat-sort-header mat-header-cell *matHeaderCellDef colspan="1">
          Сума
        </th>
        <td mat-cell *matCellDef="let document">{{ document.sum }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="quantityStorage">
        <th mat-sort-header mat-header-cell *matHeaderCellDef colspan="2">
          К-во
        </th>
        <td mat-cell *matCellDef="let document">
          {{ document.quantityStorage }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Second Header Row -->

      <!-- <ng-container matColumnDef="profit">
      <th mat-header-cell *matHeaderCellDef>Приход</th>
      <td mat-cell *matCellDef="let document"></td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="expenditure">
      <th mat-header-cell *matHeaderCellDef>Разход</th>
      <td mat-cell *matCellDef="let document"></td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="priceDDS">
      <th mat-header-cell *matFooterCellDef>с ДДС</th>
      <td mat-cell *matCellDef="let document"></td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="sumDDS">
      <th mat-header-cell *matFooterCellDef>с ДДС</th>
      <td mat-cell *matCellDef="let document"></td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="oldBalance">
      <th mat-header-cell *matHeaderCellDef>Преди операцията</th>
      <td mat-cell *matCellDef="let document"></td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="newBalance">
      <th mat-header-cell *matHeaderCellDef>След операцията</th>
      <td mat-cell *matCellDef="let document"></td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <!-- <tr
      mat-header-row
      *matHeaderRowDef="
        [
          'profit',
          'expenditure',
          'priceDDS',
          'sumDDS',
          'oldBalance',
          'newBalance'
        ];
        sticky: true
      "
    ></tr> -->

      <tr mat-row *matRowDef="let document; columns: displayedColumns"></tr>

      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      <!-- <thead>
      <tr>
        <th rowspan="2">№</th>
        <th rowspan="2">Баркод</th>
        <th rowspan="2" class="nameItems">Име на стоката</th>
        <th colspan="2">К-во</th>
        <th colspan="1">Цена</th>
        <th colspan="1">Суми</th>
        <th colspan="2">К-во</th>
      </tr>
      <tr>
        <th>Приход</th>
        <th>Разход</th>
        <th>с ДДС</th>
        <th>с ДДС</th>
        <th>Преди операцията</th>
        <th>След операцията</th>
      </tr>
    </thead>
    <tbody>
      <td>1</td>
      <td>2354200000124</td>
      <td>Компютър</td>
      <td>0</td>
      <td>1</td>
      <td>250,00 лв.</td>
      <td>250,00 лв.</td>
      <td>15</td>
      <td>14</td>
    </tbody> -->
    </table>
  </div>
</div>
<div class="tab-button">
  <ul>
    <li>
      <a class="mark-tab-button" href="#">Съдържание на документа</a>
    </li>
    <li>
      <a href="#">Амбалаж</a>
    </li>
    <li>
      <a href="#">Фактуриране</a>
    </li>
  </ul>
</div>
<div class="container">
  <!-- <div class="footer">
    <p>Сума: 0,00 лв.</p>
  </div>
  <div id="vertical-line"></div> -->
  <div class="page">
    <button
      [disabled]="startIndex == 0"
      class="pageBtn"
      (click)="previousBtn()"
    >
      <svg
        id="previous-arrow"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
      >
        <!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
        />
      </svg>
    </button>

    <button
      [disabled]="startIndex + numberOfDocOnPage >= numberDocuments"
      class="pageBtn"
      (click)="nextBtn()"
    >
      <svg
        id="next-arrow"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
      >
        <!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
        />
      </svg>
    </button>
    <p>
      {{ startIndex + 1 }} -
      {{
        startIndex + numberOfDocOnPage > numberDocuments
          ? startIndex + (startIndex + numberOfDocOnPage - numberDocuments)
          : startIndex + numberOfDocOnPage
      }}
    </p>
    <p>от {{ numberDocuments }}</p>
  </div>
  <div id="vertical-line"></div>
  <div class="footer">
    <p>Сума: 0,00 лв.</p>
  </div>
</div>
