.documentContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

.tab-button {
  display: flex;
  align-items: flex-end;
  background-color: rgb(200, 200, 200);
  height: 30px;
  padding: 0 0.5em;
}

.tab-button ul li {
  display: inline-block;
}

.tab-button a {
  display: inline-block;
  height: 28px;
  text-decoration: none;
  border-left: 1px solid rgb(160, 160, 160);
  border-top: 1px solid rgb(160, 160, 160);
  border-right: 1px solid rgb(160, 160, 160);
  border-radius: 0.3em 0.3em 0 0;
  padding: 0.4em;
  font-weight: 600;
  color: black;
  margin-left: 1px;
  background-color: rgb(200, 200, 200);
}

.tab-button a:hover {
  background-color: whitesmoke;
}

.tab-button a:focus {
  background-color: whitesmoke;
}

.table-wrapper {
  margin: 0.5em;
}

.document-content-table {
  padding: 0.3em;
  border-radius: 0.5em;
  border: 2px solid #999;
  width: 100%;
  background: white;
  overflow: auto;
}

.document-content-table th {
  background-color: #999;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  padding: 0.4em;
}

.document-content-table tr {
  height: 25px;
}

td.mat-mdc-cell {
  border-right: 1px solid rgb(224, 224, 224);
}

.document-content-table td:nth-child(3) {
  text-align: left;
}

.nameItems {
  min-width: 250px;
}

tr.mat-mdc-footer-row {
  font-weight: bold;
}

.mat-mdc-table-sticky {
  border-top: 2px solid #e0e0e0;
}

.document-content-table td {
  text-align: right;
}

.document-content-table td:first-child {
  text-align: left;
}

.container {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  /* padding: 0 3em; */
  background-color: rgb(200, 200, 200);
  width: 100%;
  height: 40px;
  /* border-radius: 1em; */
  padding: 0.5em;
  align-items: center;
  border-top: 1px solid rgb(170, 170, 170);
}

.footer {
  /* flex: 1 1 auto; */
  color: black;
  font-weight: bold;
  /* margin-left: 2em; */
}

.page {
  display: flex;
  align-items: center;
  margin-left: 2em;
  gap: 0.5em;
}

.page p {
  font-weight: 600;
  font-style: italic;
}

.pageBtn {
  font-style: italic;
  padding-top: 0.2em;
  border: none;
  background: none;
  /* padding: 0.3em; */
  /* border-radius: 0.3em; */
  /* border-bottom-style: none; */
}

#vertical-line {
  border: 1px solid gray;
  height: 2em;
}

/* .pageBtn:active {
  cursor: pointer;
  background-color: orange;
} */

#next-arrow,
#previous-arrow {
  fill: blue;
  width: 0.8em;
  height: auto;
}

#next-arrow:hover,
#previous-arrow:hover {
  cursor: pointer;
  fill: orange;
}

.pageBtn:disabled #previous-arrow,
.pageBtn:disabled #next-arrow {
  fill: rgb(169, 169, 169);
  cursor: default;
}

@media (width < 600px) {
  .documentContent {
    display: none;
  }

  .container {
    justify-content: space-between;
    padding: 0 2em;
  }
  .page {
    margin: 0;
  }

  .tab-button {
    display: none;
  }
}

@media (width >= 600px) {
  .container {
    display: none;
  }
}
