.documentContent {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

.tab-button {
  display: flex;
  align-items: flex-end;
  background-color: rgb(200, 200, 200);
  height: 30px;
  padding: 0 0.5em;
}

.tab-button ul li {
  display: inline-block;
}

.tab-button ul li a.mark-tab-button {
  background-color: whitesmoke;
}

.tab-button ul a {
  display: inline-block;
  height: 28px;
  text-decoration: none;
  border-left: 1px solid rgb(160, 160, 160);
  border-top: 1px solid rgb(160, 160, 160);
  border-right: 1px solid rgb(160, 160, 160);
  border-radius: 0.3em 0.3em 0 0;
  padding: 0.4em;
  font-weight: 600;
  color: black;
  margin-left: 1px;
  background-color: rgb(200, 200, 200);
}

.tab-button ul li a:hover {
  background-color: whitesmoke;
}

.table-wrapper {
  margin: 0.5em;
}

.charts {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(200, 200, 200);
  width: 100%;
  height: 40px;
  padding: 0.5em 1em;
  align-items: center;
  border-top: 1px solid rgb(170, 170, 170);
  color: black;
  font-weight: bold;
}

.container section:last-child {
  text-align: end;
}

.container section:nth-child(3) {
  text-align: center;
}

.page {
  display: flex;
  align-items: center;
  margin-left: 2em;
  gap: 0.5em;
}

.page p {
  font-weight: 600;
  font-style: italic;
}

.pageBtn {
  font-style: italic;
  padding-top: 0.2em;
  border: none;
  background: none;
}

.vertical-line {
  border: 1px solid gray;
  height: 2em;
}

#next-arrow,
#previous-arrow {
  fill: blue;
  width: 0.8em;
  height: auto;
}

#next-arrow:hover,
#previous-arrow:hover {
  cursor: pointer;
  fill: orange;
}

.pageBtn:disabled #previous-arrow,
.pageBtn:disabled #next-arrow {
  fill: rgb(169, 169, 169);
  cursor: default;
}

@media (width < 600px) {
  .documentContent {
    display: none;
  }

  .page {
    margin: 0;
  }

  .tab-button {
    display: none;
  }
}

@media (width >= 600px) and (width < 1020px) {
  .documentContent {
    display: none;
  }

  .tab-button {
    display: none;
  }
}

@media (width >= 1020px) {
  .container {
    display: none;
  }
}
