.side-bar {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  color: white;
  padding-top: 1em;
}

svg {
  fill: white;
  width: 1.8em;
  height: auto;
}

svg:hover {
  cursor: pointer;
  fill: orange;
}

#accounting-reference {
  width: 40px;
  text-align: center;
  position: relative;
}

#accounting-reference:hover .doc > ul {
  display: block;
}

.doc {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1000;
  background-color: rgb(27, 0, 87);
}

.doc ul {
  display: none;
}

.doc ul li {
  display: inline-block;
  width: 200px;
  padding: 0.8em 1em;
}

.doc ul li a {
  color: white;
  font-weight: 600;
  /* font-style: italic; */
  text-decoration: none;
}

.doc ul li:hover {
  color: rgb(27, 0, 87);
  background-color: orange;
}

#refresh {
  margin-bottom: 3.5em;
}
