.containers {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.4em 0.8em;
  background-color: rgb(27, 0, 87);
  width: 100%;
  height: 40px;
  position: relative;
}

.menu > h2 {
  color: white;
}

.menu-btn {
  fill: white;
  width: 1.8em;
  height: auto;
}

.doc-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.4em 0 rgba(0, 0, 0, 0.4);
  top: 40px;
  right: 5px;
  z-index: 999;
  background-color: white;
}

.doc-mobile ul {
  display: inline-block;
}

.doc-mobile ul li {
  display: block;
  border-bottom: 1px solid rgb(27, 0, 87);
}

.doc-mobile ul li:last-child {
  border-bottom: none;
}

.doc-mobile ul li a {
  display: inline-block;
  text-align: center;
  width: 200px;
  padding: 0.8em 1em;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.doc-mobile ul li a:active {
  background-color: orange;
  color: white;
}

/* #menu-back a svg:hover,
#menu-settings a svg:hover {
  fill: orange;
} */

.reference-name-btns h1 {
  color: rgb(105, 105, 105);
}

.reference-name-btns {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: rgb(230, 230, 230);
  padding: 0.8em;
  align-items: center;
  border-bottom: 1px solid rgb(170, 170, 170);
}

.print-btn button:nth-child(1) {
  margin-right: 1em;
}

.print-btn button {
  font-weight: bold;
  width: 9em;
  padding: 0.3em;
  height: 2.5em;
  background-color: white;
  border-radius: 0.3em;
  border: 0.1em solid rgb(180, 180, 180);
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8em 0.5em;
  background-color: rgb(230, 228, 228);
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgb(170, 170, 170);
  position: relative;
}

.input-fields {
  display: flex;
  gap: 0.3em;
}

.receiver-btn {
  display: flex;
  gap: 0.5em;
}

#receiver-btn button {
  /* flex: 1 1 auto; */
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  border-radius: 0.3em;
  border: 0.1em solid rgb(180, 180, 180);
}

#receiver-btn button:hover {
  cursor: pointer;
  background-color: rgb(190, 190, 190);
}

.search {
  flex: 1 1 auto;
  padding: 0.3em;
  min-width: 50px;
  height: 2.5em;
  border-radius: 0.3em;
  border: 0.1em solid rgb(180, 180, 180);
}

.filters-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
}

.filters-btn button {
  flex: 1 0 auto;
  font-weight: normal;
  min-width: 7em;
  padding: 0.3em;
  height: 2.5em;
  background-color: white;
  border-radius: 0.3em;
  border: 0.1em solid rgb(180, 180, 180);
}

.datePicker {
  height: 2.5em;
  min-width: 15em;
  background: rgb(255, 255, 255);
  border-radius: 0.3em;
  padding: 0.5em 0.7em;
  font-size: 1.2em;
  border: 0.1em solid rgb(180, 180, 180);
}

.datePicker input {
  margin-bottom: 1em;
}

.filters-btn button:hover,
.print-btn button:hover {
  cursor: pointer;
  background-color: rgb(190, 190, 190);
}

.filters-btn #vertical-line {
  border: 1px solid gray;
  height: 2em;
}

.svg-filters {
  display: inline-block;
  fill: black;
  height: 1em;
  margin-right: 0.5em;
}

/* FILTERS BOX */

.filters-box {
  display: flex;
  flex-shrink: 1;
  /* flex-wrap: wrap; */
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  right: 15px;
  height: 480px;
  width: 680px;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.4);
  background: white;
  z-index: 999;
}

.filters-box header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.closeBoxBtn button svg {
  height: 2em;
}

.filters-box main {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 0.5em;
  flex: 1 1 auto;
  background-color: rgb(239, 239, 239);
  border-radius: 0.5em;
  overflow-y: auto;
}

hr {
  margin-bottom: 0.5em;
}

.time-period {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.document-filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.filters-box footer {
  display: block;
  align-self: center;
  margin-top: 1em;
}

.closeBoxBtn button {
  background-color: white;
  color: black;
  font-weight: bold;
  width: 2.5em;
  height: 2.5em;
  border-radius: 0.3em;
  border: none;
}

.filters-box footer button {
  padding: 0.5em 2.7em;
  background-color: rgb(27, 0, 87);
  color: white;
  border-radius: 0.5em;
  border: none;
}

.filters-box button:hover {
  cursor: pointer;
}

.filters-box footer button:hover {
  background-color: orange;
  color: black;
}

@media (width < 600px) {
  .reference-name-btns {
    display: none;
  }

  .filters-box {
    top: 90px;
    right: 15px;
    height: 580px;
    width: 380px;
  }
}

@media (width >= 600px) {
  .filters {
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }

  .filters-btn {
    gap: 1em;
  }

  .filters-btn button {
    width: 9em;
    gap: 1em;
  }

  .search {
    min-width: 230px;
  }
}
