<div class="home-page">
  <div class="header-section">
    <div class="logo">
      <img src="https://yanaksoft.net/image/logo-big.png" alt="YanakSoft" />
      <h2>Янак Софт</h2>
    </div>
    <nav class="nav-bar">
      <ul>
        <li><a href="">Продажби</a></li>
        <li><a href="">Стоки</a></li>
        <li><a href="">Контрагенти</a></li>
        <li><a href="">Контакти</a></li>
        <li><a href="">Ръководство за работа</a></li>
      </ul>
      <div class="profil">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
          /></svg
        ><span>Profil</span>
      </div>
    </nav>
  </div>
  <div class="main-section">
    <div class="aside-section">
      <div class="aside-nav">
        <nav>
          <ul>
            <li>
              <a class="dashboard" href="#">Начален екран</a>
            </li>
            <li>
              <a href="#">Основни операции</a>
              <ul style="display: none">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
              </ul>
            </li>
            <li><a href="#">Номенклатура</a></li>
            <li><a href="#">Финансови операции</a></li>
            <li><a href="#">Справки</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="routing-section"></div>
  </div>
</div>
