@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

html {
  font: 12px/1.3 Tahoma, sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font: inherit;
}

body {
  background-color: rgb(230, 230, 230);
}

/* ANGULAR MATIRIAL CHANGES */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
